<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Skeptics with Angular</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen" %>
  <%= stylesheet_link_tag "main", :media => "all" %>
  <%= stylesheet_link_tag "flexslider", :media => "all" %>


  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>



  <%= csrf_meta_tags %>

</head>
<body>

<div class="row">
   <div class="small-12 columns">
      <div id="main">
      <nav class="{{active}} " id="myid" ng-app ng-controller="MyCtrlNav" my-draggable>

        <a href="#view1" ng-click="navclick('home')" class="home" id="home">Home</a>
        <a href="#view2" ng-click="navclick('viewtwo')" class="viewtwo">NG Binding</a>
        <a href="#view3" ng-click="navclick('viewthree')" class="viewthree">Partial 3</a>
        <a href="#view4" ng-click="navclick('viewfour')" class="viewfour">Login</a>
        <a href="#view5" ng-click="navclick('viewfive')" class="viewfive">Shopping Cart</a>

      </nav>
    </div>
  </div>
</div>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>

<![endif]-->


<div ng-view></div>



<%= javascript_include_tag "application" %>



<%= javascript_include_tag "jquery-ui" %>
<%= javascript_include_tag "jquery.flexslider" %>

<%= javascript_include_tag "angular-flexslider" %>


</body>
</html>

