<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Skeptics with Angular</title>

  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen" %>
  <%= stylesheet_link_tag "flexslider", :media => "all" %>


  <%= stylesheet_link_tag "videogular", :media => "all" %>
  <%= stylesheet_link_tag "main", :media => "all" %>


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

  <%= javascript_include_tag "vendor/modernizr.js" %>
  <script  src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <%= javascript_include_tag "angular-underscore-module.js" %>
  <%= javascript_include_tag "underscore" %>
  <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular-animate.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.11.2/TweenMax.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true&libraries=places&language=en-US"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

  <%= csrf_meta_tags %>
</head>
<body ng-controller="MyCtrlIndex">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>
<![endif]-->


<div class="row">
  <div class="small-12 columns">

    <!--Main NavBar-->
        <div class="row" my-draggable>
            <div class="small-12 columns">
                <div id="main" ng-include="'/home/mainnav.html'"></div>
            </div>
        </div>

    <!-- Time  Nav-bar-->
        <div  ng-include="'/home/timenav.html'"></div>
  </div>
</div>

<!--Get Longitude/Latitude -->
<div class="row" ng-cloak>
  <div class="small-12 columns dynamic_latlong"
       id="lat-to-long"
       ng-show ="longlat">

    <dl class="sub-nav" id="temp-nav">
      <dd></dd>
      <dd><button ng-click="doSearch()" class="button  tiny">Search</button></dd>
      <dd> <google-places location=location ng-focus="onFocus()"></google-places></dd>
      <dd ng-show="toggleLatLongCaption">Latitude:</dd>
      <dd ng-bind ="mylatitude"></dd>
      <dd ng-show="toggleLatLongCaption">Longitude:</dd>
      <dd ng-bind ="mylongitude"></dd>
      <dd><button ng-click="toggleView()" ng-show="showToggleButton"
      class ="button tiny"><span ng-show="minimizeExpand">Expand</span><span ng-hide="minimizeExpand">Minimize</span></button>

      </dd>
    </dl>
  </div>
</div>

<!--Fahrenheit to Celcius Converter-->
<div class="row" ng-cloak>
  <div class="small-12 columns dynamic_temp" id="celcius-to-fahrenheit" ng-show ="cfConvModel">
    <dl class="sub-nav" id="temp-nav">
      <dd></dd>
      <dd><input type="number" ng-model="fahrenheit" ng-change="markEdited('F')"/> Fahrenheit</dd>
      <dd><input type="number" ng-model="celsius" ng-change="markEdited('C')" /> Celsius</dd>
    </dl>
  </div>
</div>

<!--products nav-bar-->
<div class="row" id="productsnav">
  <div class="small-12 columns">
    <dl class="sub-nav">
      <dt>F:</dt>
      <dd><a href="#view6">Products</a></dd>
      <dd><a href="#view7">Add Product</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
</div>

<!--<div id="cart"  my-draggable></div>-->

<div class="row">
  <div class="small-12" ng-view></div> <!--ng-view-->
</div>


<!--footer-->
<div  ng-include="'/home/footer.html'"></div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery-ui" %>
<%= javascript_include_tag "angular-touch.js" %>




</body>
</html>

