<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Skeptics with Angular</title>

  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen" %>
  <%= stylesheet_link_tag "flexslider", :media => "all" %>
  <%= stylesheet_link_tag "main", :media => "all" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

  <%= javascript_include_tag "vendor/modernizr.js" %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <%= javascript_include_tag "angular-underscore-module.js" %>
  <%= javascript_include_tag "underscore" %>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.15/angular-animate.js"></script>

  <%= csrf_meta_tags %>

</head>
<body ng-controller="MyCtrlIndex">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>

<![endif]-->


<div class="row">

  <div class="small-12 columns">
<!--Main NavBar-->
<div class="row" my-draggable>
  <div class="small-12 columns">
    <div id="main" ng-include="'/home/mainnav.html'">
    </div>
  </div>
</div>

<!-- Icon Nav-bar-->
<div class="row">
  <div class="small-12 columns">
    <dl class="sub-nav" id="undernav">
      <dd>
        <!-- clock icon-->
        <a>
          <span
          ng-class=" clock_image_model ?  ' fa fa-clock-o dynamic-clock-underline_color ': 'fa fa-clock-o'"
          ng-mouseover="clockMouseOver()"
          ng-mouseleave="clockMouseLeave()"
          ng-click="clockOnClick()">
               Time
          </span>
        </a>
      </dd>
      <dd>
        <!--Date icon-->
        <a>
          <span
          ng-class=" date_image_model ?  ' fa fa-calendar dynamic-clock-underline_color ': 'fa fa-calendar'"
          ng-click="dateOnClick()"
          ng-mouseover="dateMouseOver()"
          ng-mouseleave="dateMouseLeave()">
          Date
        </span>
        </a>
      </dd>

      <dd>
      </dd>

      <dd>
        <!--GMT icon-->
        <a>
          <span
          class='fa  fa-sun-o'
          ng-mouseover="gmtMouseOver()"
          ng-mouseleave="gmtMouseLeave()">
          GMT
        </span>
        </a>
      </dd>

      <dd>
        <!--show current time-->
        <span my-current-time="format_one"
              ng-class=" current_time_model ?  setMyClass : 'dynamic-clock-hidden'"
              ng-click="timeViewOnClick()"
              ng-mouseover="timeViewMouseOver()"
              ng-mouseleave="timeViewMouseLeave()">
                </span>
      </dd>
      <!--nav four show current date-->
      <!--model2 is now current_date_model-->
      <dd>
        <a>
          <span my-current-time="format_two"
                ng-class=" current_date_model ?  setMyClass2 : 'dynamic-date-hidden'"
                ng-click="dateViewOnClick()"
                ng-mouseover="dateViewMouseOver()"
                ng-mouseleave="dateViewMouseLeave()">
                </span>
        </a>
      </dd>
    </dl>
  </div>
</div>
  </div></div>    <!--upperdiv-->


<!--products nav-bar-->
<div class="row" id="productsnav">
  <div class="small-12 columns">
    <dl class="sub-nav">
      <dt>F:</dt>
      <dd><a href="#view6">Products</a></dd>
      <dd><a href="#view7">Add Product</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
</div>

<div id="cart"  my-draggable></div>

<div class="row">
  <div class="small-12" ng-view></div>
</div>


<div  ng-include="'/home/timezones.html'"></div>



<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery-ui" %>



</body>
</html>

