<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Skeptics with Angular</title>

  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen" %>
  <%= stylesheet_link_tag "flexslider", :media => "all" %>
  <%= stylesheet_link_tag "main", :media => "all" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

  <%= javascript_include_tag "vendor/modernizr.js" %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <script src="http://code.angularjs.org/1.2.2/angular-animate.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body ng-controller="MyCtrlIndex">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>

<![endif]-->


<div class="row">

  <div id="upperdiv" class="small-12 columns">
<!--Main NavBar-->
<div class="row" my-draggable>
  <div class="small-12 columns">
    <div id="main">
      <nav class="mainNav {{active}} " id="myid">
        <a href="#view1"
           ng-click="navclick('home')"
           class="home" id="home">
          <span class="fa fa-home"></span>&nbsp;&nbsp;Home
        </a>
        <a href="#view2" ng-click="navclick('viewtwo')" class="viewtwo">
          <span class="fa fa-film"></span>&nbsp;Videos</a>
        <a href="#view3" ng-click="navclick('viewthree')" class="viewthree">Partial 3</a>
        <a href="#view4" ng-click="navclick('viewfour')" class="viewfour">Login</a>
        <a href="#view5" ng-click="navclick('viewfive')" class="viewfive">
          <span class="fa fa-shopping-cart"></span>&nbsp;
          Products</a>
      </nav>
    </div>
  </div>
</div>



<!-- Icon Nav-bar-->
<div class="row">
  <div class="small-12 columns">
    <dl class="sub-nav" id="undernav">
      <dd>
        <!-- clock icon-->
        <a>
          <span
          ng-class=" clock_image_model ?  ' fa fa-clock-o dynamic-clock-underline_color ': 'fa fa-clock-o'"
          ng-mouseover="clockMouseOver()"
          ng-mouseleave="clockMouseLeave()"
          ng-click="clockOnClick()">
               Time
          </span>
        </a>
      </dd>
      <dd>
        <!--Date icon-->
        <a>
          <span
          ng-class=" date_image_model ?  ' fa fa-calendar dynamic-clock-underline_color ': 'fa fa-calendar'"
          ng-click="dateOnClick()"
          ng-mouseover="dateMouseOver()"
          ng-mouseleave="dateMouseLeave()">
          Date
        </span>
        </a>
      </dd>

      <dd>
      </dd>

      <dd>
        <!--GMT icon-->
        <a>
          <span
          class='fa  fa-sun-o'
          ng-mouseover="jourz()"
          ng-mouseleave="jourzout()">
          GMT
        </span>
        </a>
      </dd>

      <dd>
        <!--show current time-->
        <span my-current-time="format_one"
              ng-class=" current_time_model ?  setMyClass : 'dynamic-clock-hidden'"
              ng-click="timeViewOnClick()"
              ng-mouseover="timeViewMouseOver()"
              ng-mouseleave="timeViewMouseLeave()">
                </span>
      </dd>
      <!--nav four show current date-->
      <!--model2 is now current_date_model-->
      <dd>
        <a>
          <span my-current-time="format_two"
                ng-class=" current_date_model ?  setMyClass2 : 'dynamic-date-hidden'"
                ng-click="dateViewOnClick()"
                ng-mouseover="dateViewMouseOver()"
                ng-mouseleave="dateViewMouseLeave()">
                </span>
        </a>
      </dd>
    </dl>
  </div>
</div>
  </div></div>    <!--upperdiv-->
<div ng-init="checked=true">
  <label>
    <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
  </label>
  <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
    Visible...
  </div>
</div>

<!--products nav-bar-->
<div class="row" id="productsnav">
  <div class="small-12 columns">
    <dl class="sub-nav">
      <dt>F:</dt>
      <dd><a href="#view6">Products</a></dd>
      <dd><a href="#view7">Add Product</a></dd>
      <dd><a href="#">Suspended</a></dd>
    </dl>
  </div>
</div>

<div id="cart"  my-draggable></div>

<div class="row">
  <div class="small-12" ng-view></div>
</div>



<ul class = "dynamic_timeZoneClocks_initial" ng-class= "timezones_model ?  ' dynamic_timeZoneClocks_show': 'dynamic_timeZoneClocks_noShow'">
  <li>
    <iframe src="https://www.thetimenow.com/clock/gmt/greenwich_mean_time?t=n
  &amp;embed=1
  &amp;text=14
  &amp;textdate=14
  &amp;format=24
  &amp;digitalclock=20
  &amp;analogclock=60
  &amp;letter_spacing=-2
  &amp;bordersize=0
  &amp;bordercolor=fff
  &amp;bgcolor=rgb(0,0,0)
  &amp;colorloc=fff
  &amp;colordigital=FFA500
  &amp;colordate=ffffff
  &amp;styleloc=normal
  &amp;styledigital=normal
  &amp;styledate=normal
  &amp;right=0" scrolling="no"></iframe>
  </li>

  <li>
    <iframe src="https://www.thetimenow.com/clock/france?t=n
      &amp;embed=1
      &amp;text=14
      &amp;textdate=15
      &amp;format=24
      &amp;digitalclock=20
      &amp;analogclock=60
      &amp;letter_spacing=-2
      &amp;bordersize=1
      &amp;bordercolor=blue
      &amp;bgcolor=rgb(0,0,0)
      &amp;colorloc=000000
      &amp;colordigital=FFA500
      &amp;colordate=fff
      &amp;styleloc=normal
      &amp;styledigital=normal
      &amp;styledate=normal
      &amp;right=0" scrolling="no"></iframe>
  </li>

  <li>
    <iframe src="http://www.thetimenow.com/clock/united_states/new_york/new_york?t=n
        &amp;embed=1
        &amp;text=14
        &amp;textdate=15
        &amp;format=24
        &amp;digitalclock=20
        &amp;analogclock=60
        &amp;letter_spacing=-2
        &amp;bordersize=1
        &amp;bordercolor=red
        &amp;bgcolor=rgb(0,0,0)
        &amp;colorloc=000000
        &amp;colordigital=FFA500
        &amp;colordate=fff
        &amp;styleloc=normal
        &amp;styledigital=normal
        &amp;styledate=normal
        &amp;right=0" scrolling="no"></iframe>
  </li>
</ul>


<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery-ui" %>

</body>
</html>

