<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Skeptics with Angular</title>

  <%#= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "foundation.css", :media => "all" %>
  <%= stylesheet_link_tag "jquery-ui", :media => "screen" %>
  <%= stylesheet_link_tag "flexslider", :media => "all" %>
  <%= stylesheet_link_tag "main", :media => "all" %>


  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css"/>

  <%= javascript_include_tag "vendor/modernizr.js" %>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body ng-controller="MyCtrlIndex">

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser.
    Please <a href="http://browsehappy.com/">upgrade
        your browser</a> to improve your experience.</p>

<![endif]-->

<!--Main NavBar-->
<div class="row" my-draggable>
  <div class="small-12 columns">
    <div id="main">
      <nav class="hello {{active}} " id="myid">
        <a href="#view1"
           ng-click="navclick('home')"
           class="home" id="home">
          <span class="fa fa-home"></span>&nbsp;&nbsp;Home
        </a>
        <a href="#view2" ng-click="navclick('viewtwo')" class="viewtwo">
          <span class="fa fa-film"></span>&nbsp;Videos</a>
        <a href="#view3" ng-click="navclick('viewthree')" class="viewthree">Partial 3</a>
        <a href="#view4" ng-click="navclick('viewfour')" class="viewfour">Login</a>
        <a href="#view5" ng-click="navclick('viewfive')" class="viewfive">
          <span class="fa fa-shopping-cart"></span>&nbsp;
          Products</a>
      </nav>
    </div>
  </div>
</div>

<!-- Icon Nav-bar-->
<div class="row">
  <div class="small-12 columns">
    <dl class="sub-nav" id="undernav">
      <dd>
        <!-- clock icon-->
        <a>
          <span
          ng-class=" clock_image_model ?  ' fa fa-clock-o dynamic-clock-underline_color ': 'fa fa-clock-o'"
          ng-mouseover="clockMouseOver()"
          ng-mouseleave="clockMouseLeave()"
          ng-click="clockOnClick()">
               Time
          </span>
        </a>
      </dd>
      <dd>
        <!--Date icon-->
        <a>
          <span
          ng-class=" date_image_model ?  ' fa fa-calendar dynamic-clock-underline_color ': 'fa fa-calendar'"
          ng-click="dateOnClick()"
          ng-mouseover="dateMouseOver()"
          ng-mouseleave="dateMouseLeave()">
          Date
        </span>
        </a>
      </dd>

      <dd>
       </dd>


      <dd>
        <!--GMT icon-->
        <a>
          <span
          class='fa  fa-sun-o'
          ng-click="jourz()"
          ng-mouseover="jourz()">
          GMT
        </span>
        </a>
      </dd>


      <dd>
        <!--show current time-->
        <span my-current-time="format_one"
              ng-class=" current_time_model ?  setMyClass : 'dynamic-clock-hidden'"
              ng-click="timeViewOnClick()"
              ng-mouseover="timeViewMouseOver()"
              ng-mouseleave="timeViewMouseLeave()">
                </span>
      </dd>
      <!--nav four show current date-->
      <!--model2 is now current_date_model-->
      <dd>
        <a>
          <span my-current-time="format_two"
                ng-class=" current_date_model ?  setMyClass2 : 'dynamic-date-hidden'"
                ng-click="dateViewOnClick()"
                ng-mouseover="dateViewMouseOver()"
                ng-mouseleave="dateViewMouseLeave()">
                </span>
        </a>
      </dd>
    </dl>
  </div>
</div>

<!--Dynamic Time Date Nav Bar-->
<div class="row" id="dynamicTimeNav">
  <div class="small-2 columns"></div>
  <div class="small-10 columns">
    <nav>
      <a>
      </a>
    </nav>
  </div>
</div>

<div class="row">

  <div class="small-12" ng-view></div>
</div>



<div id="test"></div>


<div style="position:relative;width:200px;"><iframe src="https://www.thetimenow.com/clock/gmt/greenwich_mean_time?t=n&amp;embed=1&amp;text=12&amp;textdate=15&amp;format=24&amp;digitalclock=20&amp;analogclock=60&amp;letter_spacing=-2&amp;bordersize=0&amp;bordercolor=fff&amp;bgcolor=fff&amp;colorloc=fff&amp;colordigital=FFA500&amp;colordate=ffffff&amp;styleloc=normal&amp;styledigital=normal&amp;styledate=normal&amp;right=0" style="border:none;overflow:hidden;" scrolling="no" height="90" width="200"></iframe><a href="http://www.thetimenow.com/gmt/greenwich_mean_time" style="position:absolute; top:0; left:0; display:inline-block; width:200px; height:170px; z-index:50;" target="_blank" rel="nofollow" title="Clock provided by thetimenow.com"></a></div>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "jquery-ui" %>

</body>
</html>

