<p id="notice"><%= notice %></p>

<table>
  <thead>
  <tr>
    <th width="200"><%= @commodity.name %></th>
    <th></th>
    <th width="150"></th>
    <th width="150"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= image_tag(@commodity.image_url,
                      title: 'Add to Cart') %></td>
    <td><%= @commodity.description %></td>
    <td><%= number_to_currency(@commodity.price, :unit => '&euro;') %></td>
    <td> <%= @commodity.category %></td>
  </tr>
  <tr>
    <td></td>
    <td>Played in the FIFA World Cup in <%= @commodity.year %></td>
    <td>World Cup Winner? <%= @commodity.winner %></td>
    <td>Content Goes Here</td>
  </tr>
  <tr>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
    <td>Content Goes Here</td>
  </tr>
  </tbody>
</table>


