
<h1>Listing commodities</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image url</th>
    <th>Category</th>
    <th>Year</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @commodities.each do |commodity| %>
      <tr>
        <td><%= image_tag(commodity.image_url,
                          title: 'Add to Cart') %></td>
        <td><%= commodity.name %></td>
        <td><%= commodity.description %></td>
        <td><%= commodity.price %></td>


        <td><a href=<%= "#view#{commodity.id + 100}" %>>show</a></td>
        <td><a href=<%= "#view#{commodity.id + 500}" %>>edit</a></td>
        <td><%= button_to 'Destroy', commodity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= render partial: 'commodities/search_and_paginate' %>
