<p id="notice"><%= notice %></p>
<h1>{{viewSixMessage}}</h1>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Image url</th>
    <th>Category</th>
    <th>Year</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @commodities.each do |commodity| %>
      <tr>
        <td><%= image_tag(commodity.image_url,
                          title: 'Add to Cart') %></td>
        <td><%= commodity.name %></td>
        <td><%= commodity.description %></td>
        <td><%= number_to_currency(commodity.price, :unit => '&euro;') %></td>

        <td><%= link_to 'Show', commodity, remote: true,:class => "button alert tiny 5 radius" %></td>
        <td><%= link_to 'Edit', edit_commodity_path(commodity), remote: true, :class => "button alert tiny 5 radius" %></td>

        <td><%= button_to 'Destroy', commodity, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <td><%= button_to 'Add to Cart-no', line_items_path(:commodity_id => commodity) %></td>
        <td><%= button_to 'Add to Cart-aj',
                      line_items_path(:commodity_id => commodity),
                      remote: true,
                      :class => "button alert tiny 5 radius " %>
        </td>

      </tr>
  <% end %>
</table>

<br/>

<%= render partial: 'commodities/search_and_paginate' %>
