<p id="notice"><%= notice %></p>
<p>
	<b>Name:</b>
	<%= @commodity.name %>
</p>
<p>
	<b>Description:</b>
	<%= @commodity.description %>
</p>
<p>
	<b>Price:</b>
	<%= @commodity.price %>
</p>
<p>
	<b>Image url:</b>
	<%= @commodity.image_url %>
</p>
<p>
	<b>Category:</b>
	<%= @commodity.category %>
</p>
<p>
	<b>Year:</b>
	<%= @commodity.year %>
</p>
<p>
	<b>Winner:</b>
	<%= @commodity.winner %>
</p>
<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
